<!DOCTYPE html>
<html>
<head>
  <title>Tyler Damon Williams</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= favicon_link_tag "apple-touch-icon.png", rel: 'apple-touch-icon', type: 'image/png' %>
  <%= favicon_link_tag "apple-chrome-192-192.png", rel: 'apple-touch-icon', type: 'image/png' %>
</head>
<body>

<%= yield %>

</body>
</html>
